/* @media (max-width: 3rem) {
  div {
    background: rgb(169, 169, 135);
  }
} */
@font-face {
  font-family: pixelfont;
  src: url(./assets/font/calibration-gothic-nbp-latin-font/CalibrationGothicNbpLatin-rYmy.ttf);
}

body {
  overflow: hidden;
}

.rainbow--text {
  background-image: linear-gradient(
    to left,
    violet,
    rgb(96, 53, 127),
    rgb(95, 95, 255),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: pulsate 1s infinite;
}

.rainbow--text--noanim {
  background-image: linear-gradient(
    to left,
    violet,
    rgb(96, 53, 127),
    rgb(95, 95, 255),
    green,
    yellow,
    orange,
    red
  );
  color: transparent;
  -webkit-background-clip: text;
}

#root {
  font-family: pixelfont;

  user-select: none;
  /* user-select none makes all text unselectable */
  background-color: black;
  color: lightgreen;
}

button {
  font-family: pixelfont;
  font-size: 0.8rem;
  background-color: black;
  color: lightgreen;
  border: solid black 1px;
}
button:hover {
  border: solid lightgreen 1px;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

@keyframes bounce {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  10% {
    transform-origin: 50% 100%;
    transform: scale(0.9, 1.2);
  }
  20% {
    transform-origin: 50% 100%;
    transform: scale(1.5, 0.5);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scale(0.75, 1.5) translate(0px, -10px);
  }
  30% {
    transform-origin: 50% 100%;
    transform: scale(0.8, 1.2) translate(0px, -20px);
  }
  60% {
    transform-origin: 50% 100%;
    transform: scale(1, 1) translate(0px, -25px);
  }
  70% {
    transform-origin: 50% 100%;
    transform: scale(2, 0.5);
  }
  80% {
    transform-origin: 50% 100%;
    transform: scale(0.8, 1.2);
  }
  90% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}

@keyframes wobble {
  0% {
    transform: scale(0.9, 0.9);
  }
  20% {
    transform: scale(1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.95);
  }
  70% {
    transform: scale(0.95, 1.05);
  }
  90% {
    transform: scale(1, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes slightwobble {
  0% {
    transform: scale(0.97, 0.97);
  }
  20% {
    transform: scale(1, 0.97);
  }
  30% {
    transform: scale(0.97, 1.03);
  }
  50% {
    transform: scale(1.03, 0.99);
  }
  70% {
    transform: scale(0.99, 1.01);
  }
  90% {
    transform: scale(1, 0.99);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fallAnimation {
  to {
    top: 100%;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floatAndFade {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 10%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent > * {
  /* border: solid darkgray 1px; */
}

/* burgers, bps, bpc, and burger pic*/
.div1 {
  grid-area: 1 / 1 / 6 / 2;
  flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  height: 100vh;
  background-image: url(./assets/images/backgrounds/blackrectangle.png);
  transition: background-image 0.6s ease-in-out;
}
.div1--boost--active {
  grid-area: 1 / 1 / 6 / 2;
  flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  height: 100vh;
  background-image: url(./assets/images/backgrounds/twinklingbg_anim.gif);
  transition: background-image 0.6s ease-in-out;
}

.big--burger--container {
  height: 25%;
}

.big--burger {
  width: 50%;
  height: 50%;
  transition: transform 0.2s ease;
  transition-delay: 1.5s;
  display: inline-block;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
  transform: scale(1);
}
.big--burger:hover {
  animation: slightwobble 0.7s ease-in-out;
}
.big--burger:active {
  height: 49%;
  width: 49%;
}

.floating--number {
  position: absolute;
  font-size: 3rem;
  color: white;
  animation: floatAndFade 1.5s infinite;
  z-index: 2;
  pointer-events: none;
}

.floating--number--boost--active {
  position: absolute;
  font-size: 4rem;
  color: white;
  animation: floatAndFade 1.5s infinite;
  z-index: 2;
  pointer-events: none;
  background-image: linear-gradient(
    to left,
    violet,
    rgb(96, 53, 127),
    rgb(95, 95, 255),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
}
.div2 {
  /* navbar */
  grid-area: 1 / 2 / 2 / 5;
  background-image: url(./assets/images/backgrounds/blackrectangle.png);
  background-size: cover;
  border-left: solid darkgreen 1px;
  border-right: solid darkgreen 1px;
  border-top: solid darkgreen 1px;
  transition: background-image 1s linear;
}
.div2--boost--active {
  grid-area: 1 / 2 / 2 / 5;

  border-left: solid darkgreen 1px;
  border-right: solid darkgreen 1px;
  border-top: solid darkgreen 1px;
  background-size: 25%;
  background-image: url(./assets/images/backgrounds/firework_abmz.gif);
  background-position: top;
  transition: background-image 1s linear;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar button {
  width: 100px;
  font-size: 0.7rem;
}

.navbar--left,
.navbar--center,
.navbar--right {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: flex-start; /* Align items to the start of the column */
}

.navbar--center {
  font-size: 1rem;
  text-align: center;
}

.quip--text {
  margin-top: 1rem;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

.quip--text--boost--active {
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem;
  cursor: url(./assets/images/cursor_transparent.png), pointer;
  background-image: linear-gradient(
    to left,
    violet,
    rgb(96, 53, 127),
    rgb(95, 95, 255),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: pulsate 1s infinite;
}

.quip--text--boost--active {
}

/* Optional: Add some margin between the items */
.navbar--left button,
.navbar--center * {
  margin-bottom: 2px;
}

.navbar--right button {
  margin-bottom: 2px;
}
.div3 {
  /* main game area with buildings etc */
  grid-area: 2 / 2 / 11 / 5;
  border: solid darkgreen 1px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.div3--starting--from--top--row {
  grid-area: 1 / 2 / 11 / 5;
  border: solid darkgreen 1px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.upstore--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 10rem;
}
.upstore--left {
  border-right: 1px solid darkgreen;
  border-bottom: 1px solid darkgreen;
}
.upstore--left img {
  margin: 0.2rem;
  animation: wobble 1s;
  border: solid black 1px;
}
.upstore--left img:hover {
  border: solid lightgreen 1px;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

.upstore--right {
  border-bottom: 1px solid darkgreen;
}
.tooltip--container {
  margin: 0.5rem;
  font-size: 1rem;
}

#Buildings--container img {
}
.building--row {
  display: flex;
}
.buildings--wrapper button {
  width: 100%;
}

/*stats screen*/

.stats--upgrade--grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.stats--upgrade--grid > * {
  border: solid lightgray 1px;
}

.stats--upgrade--grid img {
  height: 3rem;
  width: 3rem;
}

.stats--achievement--grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.stats--achievement--grid > * {
  border: solid lightgray 1px;
}

.stats--achievement--grid img {
  height: 3rem;
  width: 3rem;
}

/*store div*/
.div4 {
  grid-area: 1 / 5 / 11 / 6;
  height: 100%;
  overflow: hidden;
  background-image: url(./assets/images/backgrounds/blackrectangle.png);
  transition: background-image 0.6s ease-in-out;
}

.div4--boost--active {
  grid-area: 1 / 5 / 11 / 6;
  height: 100%;
  overflow: hidden;
  background: url(./assets/images/backgrounds/twinklingbg_anim.gif);
  transition: background-image 0.6s ease-in-out;
}

.section {
  width: 100%;
  transition: height 0.3s ease;
}

.section1 {
  /* top part of store with upgrades */
  height: 35%;

  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.section1 > * {
  z-index: 2;
}

.section1 img {
  border: solid black 1px;
}

.section1 img:hover {
  border: solid darkgray 1px;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

.section1--tophalf {
  border: solid purple 5px;
}
.section1--bottomhalf {
  border: solid gold 5px;
  min-height: 30%;
}

.section2 {
  /* bottom part of store */
  overflow: auto;
  height: 100%;
}

.section1:hover {
  /* in cookie clicker, the amount that the store expands is
    dependent on the number of rows of available store items, maybe add
    that later instead of expanding a fixed length */
}

.store--item {
  height: 5.25rem;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligns children to each end of the container */
}
.store--item:hover {
  border: solid lightgreen 1px;
  color: white;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}
#store--item--nameandprice {
  text-align: center;
}

#store--item--cost {
  font-weight: bolder;
  font-size: 1rem;
}

.store--item--quantityandbps {
}

#store--item--img {
  display: flex;
  align-items: center; /* Center vertically */
}
#store--item--name {
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 0 0 3px #7c7c7c, 0 0 5px #cacaca;
}

#store--item--quantity {
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 2px 2px #5a5a5a;
  text-align: end;
}

.container {
  position: relative;
  margin-top: 40%;
  height: 100%;
  overflow: hidden;
}

.falling-image {
  position: absolute;
  left: 50%; /* Initial left position*/
  transform: translateX(-50%); /* Center the image horizontally */
  animation: fallAnimation 3s forwards;
}

.test--console {
  display: flex;
  font-size: x-large;
  background-color: black;
  height: 100%;
}

.TC--left {
  flex: 1;
  justify-content: flex-start;
}
.TC--left img {
  transform: scaleX(-1) scaleY(-1);
  /* makes it so user cant click and drag */
  pointer-events: none;
  max-width: 75%;
  height: 25%;
}

.TC--center {
  flex: 2;
}
.TC--center button {
  font-size: 120%;
}
.TC--center button:hover {
  background: url(./assets/images/backgrounds/loopedvector2.gif) no-repeat;
  background-size: 100%;
  background-position: center;
  border: solid black 1px;
}
.TC--func {
  text-align: center;
}
.TC--setter-info {
  text-align: left;
}

.TC--right {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align content to the end (right side) */
}

.TC--right img {
  /* makes it so user cant click and drag */
  pointer-events: none;
  transform: scaleY(-1);
  max-width: 75%;
  max-height: 25%;
}

.TC--func select {
  background-color: black;
  color: lightgreen;
  font-family: pixelfont;
  font-size: x-large;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

.TC--func input[type="text"] {
  background-color: black;
  color: lightgreen;
  font-family: pixelfont;
  font-size: x-large;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

/* assembly minigame */
.assembly--wrapper {
}

.assembly--wrapper button {
  background-color: rgb(58, 58, 58);
}

.assembly--tickerText {
  color: white;
  text-align: center;
}

.tickets--container {
  /* Add any other styles for the overall container if needed */
}

.ticket--holder--container {
  /* Add any styles for the container holding the ticket images */
}

.ticket--holder--image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient--buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Horizontally center the content */
}

.ingredient--buttons > * {
}

.ingredient--buttons img {
  max-width: 2rem;
  min-height: 2rem;
}

.assembly--navbar {
}
.assembly--navbar button {
}

.time--remaining {
  text-align: center;
}
.orders--container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.orders--container > * {
}
.assembly--stats {
  text-align: center;
}

#quit--assembly--button {
  position: relative;
  top: 0;
  right: 0;
}

.your--burger {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.your--burger--text {
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 2rem;
}
.your--burger--image {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}

.your--burger--image img {
  position: absolute;

  width: 6rem;
  height: 6rem;
}
