@font-face {
  font-family: pixelfont;
  src: url(./assets/font/calibration-gothic-nbp-latin-font/CalibrationGothicNbpLatin-rYmy.ttf);
}

#root {
  font-family: pixelfont;
  border: solid black 1px;
  user-select: none;
  /* user-select none makes all text unselectable */
  background-color: black;
  color: lightgreen;
}

button {
  font-family: pixelfont;
  font-size: medium;
  background-color: rgb(34, 34, 34);
  color: lightgreen;
  border: solid black 1px;
}
button:hover {
  border: solid lightgreen 1px;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

@keyframes bounce {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  10% {
    transform-origin: 50% 100%;
    transform: scale(0.9, 1.2);
  }
  20% {
    transform-origin: 50% 100%;
    transform: scale(1.5, 0.5);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scale(0.75, 1.5) translate(0px, -10px);
  }
  30% {
    transform-origin: 50% 100%;
    transform: scale(0.8, 1.2) translate(0px, -20px);
  }
  60% {
    transform-origin: 50% 100%;
    transform: scale(1, 1) translate(0px, -25px);
  }
  70% {
    transform-origin: 50% 100%;
    transform: scale(2, 0.5);
  }
  80% {
    transform-origin: 50% 100%;
    transform: scale(0.8, 1.2);
  }
  90% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}

@keyframes wobble {
  0% {
    transform: scale(0.9, 0.9);
  }
  20% {
    transform: scale(1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.95);
  }
  70% {
    transform: scale(0.95, 1.05);
  }
  90% {
    transform: scale(1, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes slightwobble {
  0% {
    transform: scale(0.97, 0.97);
  }
  20% {
    transform: scale(1, 0.97);
  }
  30% {
    transform: scale(0.97, 1.03);
  }
  50% {
    transform: scale(1.03, 0.99);
  }
  70% {
    transform: scale(0.99, 1.01);
  }
  90% {
    transform: scale(1, 0.99);
  }
  100% {
    transform: scale(1, 1);
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 10%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent > * {
  border: solid darkgray 1px;
}

/* burgers, bps, bpc, and burger pic*/
.div1 {
  grid-area: 1 / 1 / 6 / 2;
  flex-direction: column;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  height: 100vh;
}

.big--burger--container {
  height: 25%;
}

.big--burger {
  width: 50%;
  height: 50%;
  transition: transform 0.2s ease;
  transition-delay: 1.5s;
  display: inline-block;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
  transform: scale(1);
}
.big--burger:hover {
  animation: slightwobble 0.7s ease-in-out;
}
.big--burger:active {
  height: 49%;
  width: 49%;
}
.div2 {
  /* navbar */
  grid-area: 1 / 2 / 2 / 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar button {
  width: 100px;
}

.navbar--left,
.navbar--center,
.navbar--right {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: flex-start; /* Align items to the start of the column */
}

.navbar--center {
  font-size: x-large;
  text-align: center;
}

.quip--text {
}

/* Optional: Add some margin between the items */
.navbar--left button,
.navbar--center * {
  margin-bottom: 2px;
}

.navbar--right button {
  margin-bottom: 2px;
}
.div3 {
  /* main game area with buildings etc */
  grid-area: 2 / 2 / 11 / 5;
  overflow: hidden;
}
#Buildings--container {
  display: flex;
  flex-direction: column;
}
#Buildings--container > * {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#Buildings--container img {
}

/*stats screen*/

.upgrade--grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.upgrade--grid > * {
  border: ridge lightgray 5px;
}

.achievement--grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.achievement--grid > * {
  border: ridge lightgray 5px;
}

/*store div*/
.div4 {
  grid-area: 1 / 5 / 11 / 6;
  height: 100%;
  overflow: scroll;
}

.section {
  width: 100%;
  transition: height 0.3s ease;
}

.section1 {
  /* top part of store with upgrades */
  height: 15%;

  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.section1 img {
  border: ridge lightgray 5px;
}

.section1 img:hover {
  border: ridge darkgray 5px;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}

.section2 {
  /* bottom part of store */
  overflow: auto;
  height: 85%;
}

.section1:hover {
  height: 30%;
  /* in cookie clicker, the amount that the store expands is
    dependent on the number of rows of available store items, maybe add
    that later instead of expanding a fixed length */
}

.store--item {
  border: solid gray 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligns children to each end of the container */
}
.store--item:hover {
  color: white;
  cursor: url(./assets/images/pointer_transparent.png), pointer;
}
#store--item--nameandprice {
  text-align: center;
}

#store--item--cost {
  font-weight: bolder;
  font-size: larger;
}

.store--item--quantityandbps {
}

#store--item--img {
  display: flex;
  align-items: center; /* Center vertically */
}
#store--item--name {
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 0 0 3px #7c7c7c, 0 0 5px #cacaca;
}

#store--item--quantity {
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 2px 2px #5a5a5a;
  text-align: end;
}

.container {
  position: relative;
  margin-top: 40%;
  height: 60%; /* Adjust the height as needed */
  overflow: hidden;
}

.falling-image {
  position: absolute;
  left: 50%; /* Initial left position*/
  transform: translateX(-50%); /* Center the image horizontally */
  animation: fallAnimation 3s forwards;
}

@keyframes fallAnimation {
  to {
    top: 100%;
  }
}
